@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto&display=swap');

.main-screen {
  height: calc(100vh - 85px);
  display: flex;
}

.wrapper {
  margin: 0 auto;
  width: 100wv;
  max-width: 1540px;
  padding: 0 20px;
}
